<h1><%= @article.title.capitalize %></h1>
<h2><%= @article.content %></h2>
<%= link_to '  Articles  ', articles_path  %>
<%= link_to "  edit  ", edit_article_path(@article)  %>
<%= link_to "  🗑  ", article_path(@article), method: :delete, data: { confirm: "Delete #{@article.title}?" }  %>
